* {
  border: none;
  font-family:  "Iosevka Nerd Font", monospace;
  background: transparent;
  font-size: 16.5px;
   
}

window#waybar {
  background: rgba(15, 18, 25, 0.65);
  color: #ffffff;
  margin: 2;
  border: 2px solid rgba(165, 167, 202, 0.80);
  border-top: none;
  border-radius: 0px 0px 18px 18px;
  padding-bottom: 0px;  
}

/* Glow effect for all modules */
#custom-arch,
#workspaces button,
#clock,
#custom-cava,
#cpu,
#memory,
#backlight,
#language,
#pulseaudio,
#custom-notification {
  color: #ffffff;
  text-shadow:
    0 0 2px #ffffff,
    0 0 1px rgba(255, 255, 255, 0.8);
  padding: 0 12px;
  margin-right: 7px;
}

/* Arch Logo */
#custom-arch {
  font-size: 25px;
  text-shadow:
    0 0 2px #ffffff,
    0 0 2px #ffffff;
  margin-right: 2px;
}

/* Workspaces */
#workspaces button {
  color: rgba(44, 51, 71, 0.3);
  padding: 0 12px;
  border-radius: 12px;
  transition: all 0.4s ease;
}

#workspaces button:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
}

/* ✅ Active workspace = مربع */
#workspaces button.active {
  color: #ffffff;
  text-shadow: 0 0 3px #ffffff;

  background: rgba(255, 255, 255, 0.12);
  border: 0.3px solid #ffffff;
  border-radius: 6px;
}

/* Clock */
#clock {
  font-weight: bold;
  font-size: 16px;
  text-shadow:
    0 0 2px #ffffff,
    0 0 1px #ffffff;
}

/* Cava */
#custom-cava {
  font-size: 15px;
}

/* Language */
#language {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.0);
  margin: 2px 1px;
  border-radius: 2px;
}

/* Backlight & Notification */
#backlight,
#custom-notification {
  font-size: 16px;
}

#custom-battery {
  color: #00ff88;
  font-weight: bold;
  text-shadow:
    0 0 2px #00ff88,
    0 0 1px #00ff88;
}

#tray {
  padding: 3px 17px; /* توسّع المساحة */
}
